html {
    background-color: #607d8b;
    font-family:Arial, Helvetica, sans-serif;
}
header h1, th h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

header h1 {
    background-color: #5f9ea0;
    text-align: center;
    font-size: 60px;
    margin: 20px 50px;
    border-radius: 20px;
}

header p, footer {
    text-align: center;
    font-weight: bold;
    color: white;
}

section h2 {
    font-weight: bold;
    color:teal;
}

section {
    margin: 20px 50px;
    border: 2px solid black;
    padding: 0px 40px 0px 40px;
    border-radius: 20px;
    background-color: whitesmoke;
}

img {
    display: block;
    margin: 30px auto 30px auto;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

th h1 {
    background-color: cadetblue;
    font-size: 40px;
    margin: 0px;
}

th h2{
    font-weight: 100;
}


.columnleft {
    background-color: teal;
    padding: 20px;
    margin: 0px;
    width: auto; 
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    background-color: whitesmoke;
    table-layout: fixed;
}

td, th {
    border: 2px solid black;
}


.term {
    color: slategray;
    font-weight: bold;
}

.code {
    font-family: monospace;
    background-color: slategray;
    font-size: 16px;
}

a:hover {
	animation-name: link-color;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

@keyframes link-color {
	100% {
		color:rgb(156, 72, 72);
	}
}

footer {
    padding: 30px 0px 0px 0px;
}